#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 14px 0px;
  margin-bottom: 12px;
  margin-top: -10px;
  color: black;
}

#friends-display-link i {
  color: gold;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
/* friends-screen은 나의 프로필과, 친구들을 모두 포함하는 창이다 */

.friends-screen__channel {
  border-top: var(--main-border);
  margin-top: 20px;
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
}

@keyframes shiningicon_friends {
  25% {
    color: gold;
  }
  50% {
    color: black;
  }
  75% {
    color: gold;
  }
}

.friends_i {
  color: gold;
  animation: shiningicon_friends 2.5s ease-in-out infinite;
}
