.welcome-header {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header_title {
  margin-bottom: 36px;
  font-size: 25px;
}

.welcome-header_text1 {
  margin-bottom: 3px;
  width: 90%;
  font-size: 17px;
  opacity: 0.7;
}

.welcome-header_text2 {
  margin-bottom: 90px;
  width: 90%;
  font-size: 17px;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(245, 245, 245, 0.4);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: var(--light-white);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--light-white);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

@keyframes logincolor {
  from {
    transform: none;
  }
  to {
    background-color: var(--yellow);
  }
}

#login-form input[type="submit"]:hover {
  animation: logincolor 1s ease-in-out forwards;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
