body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rectangular-container {
  border: 2px solid black;
  background-color: wheat;
  width: 45vh;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangular__small {
  width: 9vh;
  height: 9vh;
  background-color: teal;
  border: 2px solid white;
}

.rectangular__long {
  border: 2px dashed white;
  height: 9vh;
  width: 39vh;
  background-color: teal;
  margin: 3.7vh 0px;
}
