.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 18px 50px;
  background-color: #f9f9fa;
  box-sizing: border-box;
  border-top: 1px solid rgba(202, 200, 200, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__dot {
  color: tomato;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 22px;
  left: 27px;
}
