.artist__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#artist__tab-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 1px #ebe2c7;
}

.artist__tab-instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist__tab-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.artist__tab-btn-shuffle {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(120, 192, 12);
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
  font-size: 12px;
  font-weight: 100;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.artist__tab-btn-like {
  color: black;
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.88);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  margin-left: 5px;
}

@keyframes heartBeat {
  0% {
    transform: none;
  }
  25% {
    color: rgb(120, 192, 12);
    transform: scale(1.2);
  }
  50% {
    color: rgb(120, 192, 12);
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}

.artist__tab-buttons button:focus {
  outline: none;
}

.artist__tab-btn-like:hover i {
  animation: heartBeat 0.8s linear infinite;
}

.artist__tab-btn-like-count {
  margin-left: 2px;
  color: rgba(0, 0, 0, 0.6);
}

.artist__tab-music-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.artist__tab-music-row {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}

.artist__tab-music-image {
  position: relative;
}

.artist__tab-music-image img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.artist__tab-music-row:nth-child(2) .artist__tab-music-image img {
  opacity: 0.35;
}

@keyframes playinganimation {
  0% {
    transform: none;
  }
  50% {
    color: whitesmoke;
  }
  100% {
    transform: none;
  }
}

.artist__tab-music-row:nth-child(2) .artist__tab-music-image i {
  position: absolute;
  left: 15px;
  top: 10px;
  color: rgb(120, 192, 12);
  animation: playinganimation 0.8s infinite;
}

.artist__tab-music-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 130px;
}

.artist__tab-music-intro span:first-child {
  font-size: 12px;
  opacity: 0.4;
}

.artist__tab-music-intro span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
}

.artist__tab-music-more {
  position: absolute;
  right: 20px;
}

@keyframes begreen {
  from {
    transform: none;
  }
  to {
    color: rgb(120, 192, 12);
    transform: none;
  }
}

.artist__tab-music-more:hover {
  animation: begreen 0.5s ease-in-out forwards;
}

.artist__tab-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgb(120, 192, 12);
  color: white;
  margin-top: 5px;
  border-radius: 25px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.artist__tab-player-instruction {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.artist__tab-player-instruction span:first-child {
  font-size: 12px;
  opacity: 0.4;
}

.artist__tab-player-instruction span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
}

.artist__tab-player-buttons {
  display: flex;
  align-items: center;
}

.artist__tab-player-buttons i:nth-child(2) {
  margin: 0px 20px;
}
